//Font
$fonte: 'Roboto Mono', monospace;

//Colors
$cor-de-fundo: #21222C;
$cor-do-container: #282A36;
$cor-do-titulo: 45deg, rgba(162,206,252,1) 30%, rgba(207,130,247,1) 100%;
$cor-da-fonte: #EEEEEE;
$cor-detalhes: #cf82f7;
